<!doctype html>
<html style="background-color: #ece9e9;">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans" >
    <!-- endbuild -->
  </head>
  <body ng-app="agendaApp" ng-controller="agendaController" style="background-color: #ece9e9;" >


    <md-toolbar class="md-hue-2" style="background-color: rgb(185, 246, 202); color: black;" class="md-whiteframe-2dp">
    <div class="col-sm-12 bar-form">


        <md-button 
          class="md-fab md-mini"
          style=" background-color: #d23f31; margin-left: 11.5%; color: #ffffff; margin-top: 10px; " 
          ng-click="addContact = !addContact"
          ng-show="!addContact">+
        </md-button>

          <md-button 
            class="md-fab md-mini"
            id = "cerrar"
            ng-click="addContact = !addContact"
            ng-show="addContact"
            style ="background-color: #d23f31; margin-left: 11.5%; margin-top: 10px;"> x
          </md-button>

          <h4
            class="buscar"
            ng-click="addContact = !addContact"
            style="float: right; margin-right: 11.5%;"> 
            <i class="glyphicon glyphicon-search"></i>
          </h4>

          <input type="text" ng-model="buscar.$" placeholder="Buscar" class="b" >



          <div class="Contact-form" ng-if="addContact" style="width: 100%">

            <h2 style=" margin-left: 11.5%;">Contacto nuevo</h2>

            <div class="primerafila">
                
              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: left; margin-left: 5%;">
                <label>Nombre</label>
                <input ng-model="nuevoContacto.Nombre">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: left;">
                <label>Telefono</label>
                <input ng-model="nuevoContacto.Telefono">
              </md-input-container>
                
              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: right; margin-right: 5%; ">
                <label>Movil</label>
                <input ng-model="nuevoContacto.Movil">
              </md-input-container>

            </div>
  

            <div class="segundafila" >

              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: left; margin-left: 5%;">
                <label>Calle, No.</label>
                <input ng-model="nuevoContacto.Calle">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: left;">
                <label>Colonia</label>
                <input ng-model="nuevoContacto.Colonia">
              </md-input-container>
                
              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: right; margin-right: 5%;">
                <label>C.P.</label>
                <input ng-model="nuevoContacto.CP">
              </md-input-container>

            </div>  

          <md-button 
            id="agregar"
            class="md-raised md-primary"
            ng-click="agregarContacto(nuevoContacto)"
            ng-show="addContact"
            style="margin-right: 15%; margin-bottom: 15px; float: right;">Agregar
          </md-button>
          <!--<pre>{{nuevoContacto|json}}</pre>-->          
          </div>


          <div class="Contact-form" ng-if="editContact">

            <h2 style=" margin-left: 11.5%;">Editar Contacto</h2>

            <div class="primerafila">
                
              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: left; margin-left: 5%;">
                <label>Nombre</label>
                <input ng-model="existingContacto.Nombre">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: left;">
                <label>Telefono</label>
                <input ng-model="existingContacto.Telefono">
              </md-input-container>
                
              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: right; margin-right: 5%; ">
                <label>Movil</label>
                <input ng-model="existingContacto.Movil">
              </md-input-container>

            </div>
  

            <div class="segundafila" >

              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: left; margin-left: 5%;">
                <label>Calle, No.</label>
                <input ng-model="existingContacto.Calle">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: left;">
                <label>Colonia</label>
                <input ng-model="existingContacto.Colonia">
              </md-input-container>
                
              <md-input-container class="md-block" flex-gt-sm style="width: 30%; float: right; margin-right: 5%;">
                <label>C.P.</label>
                <input ng-model="existingContacto.CP">
              </md-input-container>
            </div>  

          <md-button 
            id="guardar"
            class="md-raised md-primary"
            ng-click="guardarContacto(existingContacto)"
            ng-show="editContact"
            style="margin-right: 15%; margin-bottom: 15px; float: right;">Guardar
          </md-button>

          </div>
    </div>
    </md-toolbar>

    <div class="container" style="width: 100%;" layout="column">
      <div ng-repeat="con in contactos | filter:buscar" style="width: 85%; margin-left: 3%;" >
       <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> {{con.Nombre }} </span>
            <span class="md-subhead"> {{con.Telefono}} </span>
            <span class="md-subhead"> {{con.Movil}} </span>
            <span class="md-subhead"> {{ con.Calle +' Col.'+con.Colonia+' '+con.CP }} </span>            
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="editContacto(con)" >Editar</md-button>
          <md-button ng-click="deleteCon(con)">Eliminar</md-button>
        </md-card-actions>
      </md-card>
    </div>
    </div>

     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/agendaController.js"></script>
    <script src="scripts/conFactory.js"></script>
    <!-- endbuild -->

  </body>
</html>
